body {
  margin: 0;
}
/* #active {
  color: red;
} */
a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: 1px solid gray;
  margin: 0;
  padding: 20px;
}
/* .saw {
  color: gray;
}
.active {
  color: red;
} */
ol {
  border-right: 1px solid gray;
  width: 100px;
  margin: 0;
  padding: 20px;
}

#grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid ol /* grid라는 클래스 안에 있는 ol만 선택 */ {
  padding-left: 33px;
}
#grid #article {
  padding-left: 25px;
}
@media (max-width: 800px) {
  #grid {
    display: block;
  }
  ol {
    border-right: none;
  }
  h1 {
    border-bottom: none;
  }
}
